<!--[ngStyle]="{'with':windowX+'px','height':windowY}"-->
<div class="area-work" [ngStyle]="{'width':windowX,'height':windowY}">
  <div class="car1" [ngStyle]="{'top':carOne.positionZ+'px'}">
    <img src="../assets/Car.jpg" height="21" width="48"/>
  </div>

  <div class="satelit1-car1" [ngStyle]="{'top':carOne.positionZ+5+'px','left':carOne.positionX+'px'}">
    <img src="../assets/Satelit Car.jpg" height="7" width="47"/>
  </div>

  <div class="satelit2-car1" [ngStyle]="{'top':carOne.positionZ-5+'px','left':carOne.positionX+'px'}">
    <img src="../assets/Satelit Car.jpg" height="7" width="47"/>
  </div>
  <div class="board" *ngIf="carOne.busy" [ngStyle]="{'top':carOne.positionZ+'px','left':carOne.positionX+'px'}">
    <!--    <img src="../assets/box_boards.jpg" height="22" width="43"/>-->
  </div>

  <!--<div class="board">-->
  <!--  <img src="../assets/box_boards.jpg" height="22" width="43"/>-->
  <!--</div>-->

  <div class="wrap-board" *ngFor="let board of boards">
    <div class="board" [ngStyle]="{'top':board.positionYBox+'px','left':board.positionXBox+'px'}">

    </div>
    <div class="info-board" [ngStyle]="{'top':board.positionYBox+'px','left':board.positionXBox+'px'}">
      <p>id: {{board.idBox}}</p>
      <p>length: {{board.lengthBox}}</p>
      <p>width: {{board.widthBox}}</p>
      <p>quantity: {{board.quantityBox}}</p>
      <button class="btn-close" (click)="onDeleteBoard(board.idBox)">&#10008;</button>
      <button class="btn-info" (click)="onDeleteBoard(board.idBox)">&#10004;</button>
    </div>

  </div>


  <div class="car2" [ngStyle]="{'top':carTwo.positionZ+'px'}">
    <img src="../assets/Car.jpg" height="21" width="48"/>
  </div>
  <div class="satelit1-car2" [ngStyle]="{'top':carTwo.positionZ+5+'px','left':carTwo.positionX+'px'}">
    <img src="../assets/Satelit Car.jpg" height="7" width="47"/>
  </div>
  <div class="satelit2-car2" [ngStyle]="{'top':carTwo.positionZ-5+'px','left':carTwo.positionX+'px'}">
    <img src="../assets/Satelit Car.jpg" height="7" width="47"/>
  </div>
  <div class="board" *ngIf="carTwo.busy" [ngStyle]="{'top':carTwo.positionZ+'px','left':carTwo.positionX+'px'}">
    <!--    <img src="../assets/box_boards.jpg" height="22" width="43"/>-->
  </div>

  <button (click)="onPositionCarOne()">car1</button>
  <button (click)="onPositionCarTwo()">car2</button>
  <button (click)="onTestBoardStandStillCarOne()">board car1</button>

</div>

